################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/EmprestimoLivros/EmprestimoLivros/wwwroot/css/Materia.css
