@model ContatoModel
@{
    ViewData["Title"] = "Criar contato";
}

<div class="text-center">


    <h1 class="display-4">Cadastro de contato</h1>

    
</div>

<form asp-controller="Contato" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control mt-2 mb-3" placeholder="Digite o nome do contato">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" asp-for="Email" class="form-control mt-2 mb-3" placeholder="Digite o e-mail do contato">
    </div>

    <div class="form-group">
        <label for="celular">Celular</label>
        <input type="text" asp-for="Celular" class="form-control mt-2 mb-3" placeholder="Digite o celular do contato">
    </div>

    <button type="submit" class="btn btn-primary col-12">Adicionar</button>
    <a class="btn btn-secondary col-12 mt-2" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>