@model VMController.Models.Usuario

@{
    Layout = null;  // Não usa layout
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - VMController</title>
    <link rel="stylesheet" href="~/css/usuario.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first text-center">
                <h1>Login</h1>
            </div>

            <form asp-action="Login" method="post" id="loginForm">
                <div class="form-group">
                    <div class="custom-validation-summary">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <p class="text-danger">Usuário ou senha inválidos.</p>
                        }

                        @if (TempData["SuccessMessage"] != null)
                        {
                            <p class="text-success">@TempData["SuccessMessage"]</p>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="Email" class="fadeIn second form-control" placeholder="Email" id="emailField" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Senha" type="password" class="fadeIn third form-control" placeholder="Senha" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="fadeIn fourth btn btn-primary" value="Login" />
                </div>
            </form>

            <div>
                <a asp-controller="Usuarios" asp-action="Register">Não possui login?</a>
            </div>

            @section Scripts {
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
                <script src="~/js/login.js"></script>
            }
        </div>
    </div>
</body>
</html>
