@model VMController.Models.Usuario

@{
    Layout = null;  // Não usa layout
    ViewData["Title"] = "Registrar";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - VMController</title>
    <link rel="stylesheet" href="~/css/usuario.css" /> <!-- Inclua CSS específico se necessário -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        #registerButton:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }

            #registerButton:disabled:hover,
            #registerButton:disabled:active,
            #registerButton:disabled:focus {
                background-color: #007bff; /* Cor original do botão */
                border-color: #007bff; /* Cor original da borda do botão */
                box-shadow: none; /* Remove o efeito de shadow */
            }

        .password-wrapper {
            position: relative;
        }

        .toggle-password {
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            cursor: pointer;
            color: #6c757d;
            width: 1.5em;
            height: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first text-center mt-3 mb-3">
                <h1>Registro</h1>
            </div>

            <!-- Exibe erros gerais e mensagens de sucesso abaixo do título -->
            <div class="custom-validation-summary text-center">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="text-danger">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <p>@error.ErrorMessage</p>
                        }
                    </div>
                }

                @if (TempData["SuccessMessage"] != null)
                {
                    <p class="text-success">@TempData["SuccessMessage"]</p>
                }
            </div>

            <form asp-action="Register" id="registerForm">
                <div class="form-group">
                    <input asp-for="Nome" class="fadeIn second form-control" placeholder="Nome" id="nomeField" />
                </div>

                <div class="form-group">
                    <input asp-for="Email" class="fadeIn second form-control" placeholder="Email" id="emailField" />
                </div>

                <div class="form-group password-wrapper">
                    <input asp-for="Senha" type="password" class="fadeIn third form-control" placeholder="Senha" id="passwordField" />
                    <span class="toggle-password" onclick="togglePassword()"><i class="fas fa-eye"></i></span>
                </div>

                <div class="form-group">
                    <input type="submit" class="fadeIn fourth btn btn-primary" value="Registrar" id="registerButton" disabled data-toggle="tooltip" title="Preencha todos os campos!" />
                </div>
            </form>

            <div class="teste">
                <a asp-controller="Usuarios" asp-action="Login">Já possui login?</a>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            function toggleRegisterButton() {
                const nomeFilled = $('#nomeField').val().trim() !== '';
                const emailFilled = $('#emailField').val().trim() !== '';
                const passwordFilled = $('#passwordField').val().trim() !== '';

                if (nomeFilled && emailFilled && passwordFilled) {
                    $('#registerButton').prop('disabled', false).tooltip('dispose');
                } else {
                    $('#registerButton').prop('disabled', true).tooltip();
                }
            }

            $('#nomeField, #emailField, #passwordField').on('input', toggleRegisterButton);

            toggleRegisterButton();
        });

        function togglePassword() {
            const passwordField = document.getElementById('passwordField');
            const passwordToggle = document.querySelector('.toggle-password i');
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
            passwordToggle.classList.toggle('fa-eye');
            passwordToggle.classList.toggle('fa-eye-slash');
        }
    </script>
</body>
</html>
